* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
}

img {
  max-width: 100%;
}

.cabecalho-principal {
  max-width: 100%;
}

.logo {
  float: left;
  max-width: 7%;
  width: 100px;
  position: relative;
}

.header {
  background-color: #061625;
  color: #32a0b8;
  padding: 2%;
  font-size: 1.8em;
  font-family: "Times New Roman", Times, serif;
  padding-left: 8%;
  margin-bottom: 0;
}

#titulo {
  background-color: #243263;
  color: #cfb6b1;
  text-align: right;
  padding: 0%;
  font-size: 1.6em;
}

#menu ul li {
  display: inline;
  background-color: #316481;
  color: white;
  padding-inline: 5%;
  font-size: 1.3em;
}

#menu ul {
  text-align: center;
}

li {
  list-style: none;
  margin-left: 1%;
}

.navBar {
  background-color: #bdbdbd;
  padding: 10px 20px;
  font-size: 1.5em;
  font-weight: 500;
  width: 15%;
}

.navBar > nav > ul > li > a {
  color: #000;
  font-size: 0.6em;
  border-radius: 10%;
}

.body {
  background-color: #e6e6e6;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: scroll;
}

.flex {
  display: flex;
  width: 100%;
  min-height: 100vh;
}

.grafico {
  width: 40%;
  height: 30%;
  margin: 2% 5%;
}
