* {
    margin: 0;
    padding: 0;
}

body {
    background-color: gray;
    max-width: 100%;
}

img{
    max-width: 100%;
}

.cabecalho-principal {
  max-width: 100%;
}

.logo {
    float: left;
    max-width: 7%;
    width: 100px;
    position: relative;
    
      
}

.header {
    background-color: #061625;
    color: #32A0B8;
    padding: 3.4648%;
    font-size: 1.8em;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 10%;   
}

#titulo {
    background-color: #243263;
    color: #CFB6B1;
    text-align: right;
    padding: 0%;
    font-size: 1.6em;
    margin-top: -1.2%;
   
}

#menu ul li {
    display: inline;
    background-color: #316481;
    color: white;
    padding-inline: 5%;
    font-size: 1.3em;
     
}

#menu ul {
    text-align: center;
}

#menu {
    max-width: 100%;
    background-color: #316481;
    cursor: pointer;
    }

#menu ul li a {
    text-decoration: underline;
    color: white;
}


.graficos {
    display: grid;
    grid-template-columns: 100fr;
    gap: 10%;
    margin-top: 1%;
    margin-left: 5%;
    float: left;
}

table {
    background-color: rgb(121, 121, 121);
    width: 30%;
    
}



li {
    list-style: none;
    margin-left: 1%;
}

.row {
    max-width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 1%;
}

#grafico2 {
    margin-top: 2%;
}

.table {
    background-color: white;
    padding: 2%;
    width: 100%;
    height: 30%;
}

.table2 {
    background-color: white;
    margin-top: 15%;
    width: 100%;
    padding: 2%;
    height: 60%;
}




